<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>企业网站模板{$aa}</title>
  <link rel="stylesheet" href="{:config('__PUBLIC__')}assets/css/amazeui.css" />
  <link rel="stylesheet" href="{:config('__PUBLIC__')}assets/css/common.min.css" />
  <link rel="stylesheet" href="{:config('__PUBLIC__')}assets/css/index.min.css" />
  <link rel="stylesheet" href="{:config('__PUBLIC__')}assets/css/news.min.css" />
</head>
<body>